.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.shadow{
  border-radius: 20px;
}

.container-fluid{
  background-color: #AEC6CF;
  border-style: solid;
}

/* .btn{
background-color: #3a243b;
margin:10px;
margin-left: 20px;

} */
.show {
  display: block;
}

.hide {
  display: none;
}

.container{
  border-radius: 10px;
}

.data{
  padding: 2rem;;
}

.tableform{
  margin:2rem;
}

form{
  margin-bottom: 2rem;
  margin-top:2rem;
}

.dark{
  width: 40px;
  height:40px;
  border-radius: 20px;
  background-color:aliceblue;
}
.dark:hover{
  background-color: #192841;
}
.button{
  width: 90px;
  height: 38px;
  border-radius: 5px;
  background-color:aliceblue;
  border-style: solid;
  font-size: larger;
}

.button:hover {
  background-color:#AEC6CF;
}

p{
  font-size: larger;
}

.darkmode{
  background-color: #192841;;
  color:aliceblue;
  padding: 3rem;
}
.lightmode{
  background-color: white;
  padding: 3rem;
}

.lightCont{
    margin: auto;
    width:600px;
    border-style: solid;
    border-radius: 20px;
    background-color: #AEC6CF;
  }

.darkCont{
  
    margin: auto;
    width:600px;
    border-style: solid;
    border-radius: 20px;
    background-color:#192841;
    color:aliceblue;
    padding: 20px;
  
}
.body{
  background-color: #192841;
}

.forms{
  background-color: #192841;
  width:350px;
  height:50px;
  border-radius: 5px;
  color:aliceblue;
  border-style:solid;
  border-width: 2px;
  border-color:aliceblue;
  font-size: larger;
}

.visible{
  visibility: visible;
}

.invisible{
  visibility: hidden;
}

.content{
  min-height: calc(100vh - 34px);
}
.footer {
  position: relative;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;;
  left: 0;
  bottom: 0;
  padding:10px;
  padding-left: 10px;
  color:aliceblue;
  background-color: #192841;
  border-style: solid;
  border-color: aliceblue;
}

